#quiz-container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 24px;
}

#question-container {
  margin: 20px 0;
}

#options-container {
  text-align: left;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

#result-container {
  margin-top: 20px;
}

#result {
  font-size: 18px;
}

#gif {
    display: none;
}
